{% extends "main/base.html" %}

{% load static %}
{% load i18n %}
{% load custom_filters %}

{% block title %}{{ event.title }} | {% trans "TMT Consulting Group" %}{% endblock %}
{% block meta %}
    <meta name="description" content="{{ event.text|prepare_meta }}">
{% endblock %}


{% block extracss %}<link rel="stylesheet" href="{% static 'event/css/event.css' %}" />{% endblock %}

{% block extralogo %}<a href="https://cci.gov.tm/" class='logo logo__extra'><img src="{% static 'event/img/extra-logo.png' %}" alt="logo"></a> {% endblock extralogo %}



{% block content %}



<section class="promo" style="background-image: url('{{ event.image.url }}');">
	<div class="container">
		<div class="promo__wrapper">
			<div class="promo__content">
				<h1 class="promo__title">{{ event.title }}</h1>
				<div class="promo__date">{{ event.get_event_period }}</div>
				<div class="promo__city">{{ event.city }}</div>
				<div class="promo__btns">
					<a href="#event-contacts"><button class="promo__btn">{% trans "Information Technologies" %}</button></a>\
					<a href="#event-contacts"><button class="promo__btn">{% trans "Food Security" %}</button></a>
				</div>
				
			</div>	
			
		</div>
	</div>
</section>

<section class="about">
	<div class="container">
		<h4 class="about__title title">{% trans "About Event" %}</h4>
		<div class="about__content">
			<div class="about__img">
				<img src="{{ about.image.url }}" alt="about__image" >
			</div>
			<div class="about__decr">{{ about.text|safe }}</div>
		</div>

		{% comment %} <a href="{% url "program" %}"><button class="btn program__btn">{% trans "Programme" %}</button></a>
		<a href="{% url "catalog" %}"><button class="btn program__btn">{% trans "Catalog" %}</button></a> {% endcomment %}
	</div>
</section>



{% comment %} <section class="support">
	<div class="container">
		<div class="direction__title title">{% trans "Official support" %}</div>
		<div class="support__content">
			<a data-fancybox="gallery " class="support__item" href="{% static 'event/img/Invitation (en)_2.png' %}">
				<img src="{% static 'event/img/Invitation (en)_2.png' %}" alt="Превью" width="200">
			</a>
			<a data-fancybox="gallery " class="support__item" href="{% static 'event/img/Invitation (tk)_1.png' %}">
				<img src="{% static 'event/img/Invitation (tk)_1.png' %}" alt="Превью" width="200">
			</a>
		</div>
	</div>
</section> {% endcomment %}

{% if b2b or b2g %}
<section class="pack">
	<div class="container">
		<div class="pack__title title">{% trans "We Assist in Organizing:" %}</div>
		<div class="pack__content">
			<div class="pack__item">
				<div class="pack__wrapper">
					<div class="pack__name">B2B</div>
					<ol class="pack__list">
						{% for b in b2b %}
						<li class="pack__point">{{ b.name }}</li>
						{% endfor %}
					</ol>
				</div>
				<a href="https://mail.google.com/mail/?view=cm&fs=1&to=ted2025@tmt.tm&su=Обращение&body=Здравствуйте!" class="pack__button"><button>{% trans "Submit Application" %}</button></a>
			</div>
			<div class="pack__item">
				<div class="pack__wrapper">
					<div class="pack__name">B2G</div>
					<ol class="pack__list">
						{% for g in b2g %}
						<li class="pack__point">{{ g.name }}</li>
						{% endfor %}
					</ol>
				</div>
				<a href="https://mail.google.com/mail/?view=cm&fs=1&to=ted2025@tmt.tm&su=Обращение&body=Здравствуйте!" class="pack__button"><button>{% trans "Submit Application" %}</button></a>
			</div>
		</div>
	</div>
</section>
{% endif %}


<section class="contact" id="event-contacts">
	<div class="container">
		<div class="contact__title title"> {% trans "Contacts" %} </div>
		<div class="contact__content">
			<div class="contact__name">{% trans "For more information, contact us:" %} </div>
			<div class="contact__info">
				<a href="tel:+12227193" target="_blank" class="contact__num">22-71-93</a>
				<a href="tel:+12227407" target="_blank" class="contact__num">22-74-07</a>
				<a href="tel:+12227038" target="_blank" class="contact__num">22-70-38</a>
			</div>
			
		</div>
	</div>
</section>

{% endblock %}


{% block extrajs %}
<script src="{% static 'event/js/event.js' %}"></script>
{% endblock %}